*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Lato', sans-serif;
}

.bg-blue {
    background-color: rgb(0, 153, 255);
}

.bg-sageGreen {
    background-color: rgb(9, 160, 115);
}
.bg-daisyYellow {
    background-color:rgb(247, 255, 131);
}
.bg-pink {
    background-color:rgb(224, 114, 191);
}
.bg-red {
    background-color: rgba(241, 51, 44, 0.788);
}


body {
    min-height: 200px;
    margin-bottom: 200px;
}

div,h1,span,h4 {
    color: rgb(255, 255, 255);
}
